<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}" type="text/css">
</head>
<body>
	<header>
		<h1>Movies Database</h1>
	</header>
	<div id = "main">
    {% for i in list_data %}
		<div class="inner-div">
			<img src="{{i.image}}" alt="Image Here">
			<div class="details">
				<h3>{{i.movie_name}}</h3>
				<h4>SALE ID:{{i.sale_id}}</h4>
		        <h4>SALE AMOUNT: {{i.sale_amount}}</h4>
			</div>
		</div>
    {% endfor %}
	</div>
</body>
</html>
